@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.contact {
    padding: 8rem 0rem;
    position: relative;
    @include breakpoint(lg) {
        padding: 4rem 1rem;
    }
    h4 {
        color: var(--color-black);
        max-width: 29rem;
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 1rem;
        @include breakpoint(xl) {
            font-size: 1.5rem;
        }
        @include breakpoint(sm) {
            font-size: 1.3rem;
        }
    }
    span {
        color: var(--color-black);
        font-weight: 500;
        display: block;
        margin-bottom: 1rem;
        @include breakpoint(sm) {
            font-size: 0.9rem;
        }
    }
    .left-area {
        padding-right: 5rem;
        @include breakpoint(xl) {
            padding-right: 3rem;
        }
        @include breakpoint(lg) {
            padding-right: 0rem;
            padding-left: 0rem;
        }
    }

    .form-area {
        input {
            padding: 0.6rem 0.8rem;
            border: 1px solid var(--color-gray-text);
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .form-check-input:checked {
            background-color: var(--color-purple);
        }
        .form-check-input[type="checkbox"] {
            width: 0.4rem !important;
            padding: 0.2rem 0.6rem;
            background-color: var(--color-white);
        }
        .form-check-label {
            margin-left: 0.6rem;
            font-size: 0.7rem;
        }
        /* .col-lg-12, .col-lg-6{
            @include breakpoint(xl){
                padding-left: 0rem;
            }
        } */

        .btn {
            background-color: var(--color-purple);
            width: 100%;
            color: var(--color-white);
            padding: 12px 32px;
            border-radius: 30px;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            margin-top: 1rem;
            transition: 0.3s all;
            &:hover{
                background-color: var(--color-white);
                color: var(--color-purple);
                border: 1px solid var(--color-purple);
            }
        }
    }
}
