@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.banner {
    background-color: var(--color-bg-gray);
    padding: 8rem 2rem;
    @include breakpoint(lg) {
        padding: 4rem 1rem;
    }
    .swiper-slide-active {
        .content {
            animation: fadeInLeft 1.5s;
        }
    }
    .content {
        h1 {
            color: var(--color-black);
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 2rem;
            @include breakpoint(xl) {
                font-size: 1.5rem;
            }
        }
        p {
            max-width: 32rem;
            font-size: 1.125rem;
            color: var(--color-black);
            @include breakpoint(xl) {
                font-size: 0.9rem;
            }
            @include breakpoint(lg) {
                max-width: 100%;
            }
        }
    }
    img {
        border-radius: 5px;
        @include breakpoint(lg) {
            margin-top: 2rem;
        }
    }
}
