@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
.about-page {
    .about-content {
        p {
            -webkit-line-clamp: inherit !important;
        }
    }
    .title {
        margin-bottom: 5rem;
        font-weight: 700;
        position: relative;
        display: inline-block;
        color: var(--color-black);
        @include breakpoint(lg) {
            margin-bottom: 3rem;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            width: 43%;
            height: 0.2rem;
            background-color: var(--color-purple);
        }
    }
    p {
        color: var(--color-black);
        font-weight: 300;
        @include breakpoint(xl) {
            font-size: 0.9rem;
        }
        @include breakpoint(lg) {
            font-size: 0.8rem;
        }
    }
    .right-area {
        @include breakpoint(lg) {
            margin-top: 2rem;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 1.3rem;
            font-size: 2rem;
            font-weight: 700;
            text-align: left;
            position: relative;
            color: var(--color-purple);
            @media screen and (max-width: 1440px) {
                font-size: 1.5rem;
            }
            @include breakpoint(xl) {
                font-size: 1.2rem;
            }
            @include breakpoint(lg) {
                font-size: 1.1rem;
            }
        }

        p {
            color: var(--color-black);
            font-weight: 300;
            @include breakpoint(xl) {
                font-size: 0.9rem;
            }
            @include breakpoint(lg) {
                font-size: 0.8rem;
            }
            span {
                font-weight: 700;
                display: block;
                max-width: 30rem;
                margin-bottom: 0.5rem;
                @include breakpoint(xl) {
                    font-size: 0.9rem;
                }
            }
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
        }
        .btn {
            padding-left: 0rem;
            color: var(--color-purple);
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            border: none !important;

            &:hover {
                svg {
                    margin-left: 1rem;
                }
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
            svg {
                display: block;
                margin-left: 0.6rem;
                transition: 0.3s all;
            }
        }
    }
}
