@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.referances {
    background-color: var(--color-bg-gray);
    position: relative;
    overflow: hidden;
    padding: 5rem 0rem 5rem 0rem;

    .container-fluid {
        padding: 0;
    }
    .title-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        @include breakpoint(lg) {
            padding: 0rem 1rem;
            margin-bottom: 2rem;
        }
        .title {
            margin-bottom: 2rem;
            font-weight: 700;
            position: relative;
            display: inline-block;
        }
        p {
            color: var(--color-black);
            font-size: 1rem;
            font-weight: 300;
            text-align: center;
        }
    }

    .marquee-wrapper {
        overflow: hidden;
    }

    .marquee {
        display: flex;
        animation-name: marquee;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        transform: translateX(0);
        @include breakpoint(lg) {
            animation-duration: 7s;
        }
        @include breakpoint(sm) {
            animation-duration: 5s;
        }
        img {
            padding: 1em;
            max-width: 15rem;
            @include breakpoint(lg) {
               max-width: 13rem;
            }
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-90%);
            @include breakpoint(sm){
                transform: translateX(-140%) !important;
            }
        }
    }
}
