@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

header {
    background-color: var(--color-white);
    padding: 1rem 6rem 1rem 6rem !important;
    position: relative;
    transition: 0.3s all;
    &.sticky {
        position: sticky;
        top: 0;
        z-index: 9999999;
        transition: 0.3s all;
        padding: 0.1rem 6rem !important;
        .header-inner {
            .img-wrapper {
                img {
                    max-width: 10rem;
                }
            }
        }
        @media screen and (max-width: 1440px) {
            padding: 0.1rem 2rem !important;
        }
        @include breakpoint(lg) {
            padding: 1rem 1rem 0.5rem 1rem !important;
        }
        .navigation {
            @include breakpoint(lg) {
                top: 3.5rem !important;
            }

        }
    }
    @media screen and (max-width: 1440px) {
        padding: 0.2rem 2rem !important;
    }
    @include breakpoint(xl) {
        padding: 1rem 1rem 0.5rem 1rem !important;
    }

    .header-inner {
        .img-wrapper {
            img {
                max-width: 13rem;
                object-fit: cover;
                transition: 0.3s all;
                @media screen and (max-width: 1440px) {
                    max-width: 10rem !important;
                }
                @include breakpoint(sm) {
                    max-width: 8rem !important;
                }
            }
            span {
                font-size: 4rem;
                color: var(--color-red);
                font-weight: 900;
                font-style: italic;
                @include breakpoint(xl) {
                    font-size: 2.4rem;
                }
            }
        }
        #toggle-btn {
            display: none;
            background-color: transparent;
            border: none;
            @include breakpoint(xl) {
                display: block;
            }

            &.active {
                i {
                    color: var(--color-black) !important;
                }
            }

            i {
                position: relative;
                z-index: 9999999;
                font-size: 1.5rem;
                color: var(--color-black);
            }
        }
        .navigation {
            .lang-area {
                margin-left: 1rem;
                margin-top: 2rem;
                a {
                    color: var(--color-black);
                    font-size: 1rem;
                    font-weight: 500;
                    display: flex !important;
                }
                .btn {
                    color: var(--color-black);
                    font-size: 1.1rem !important;
                    font-weight: 500;
                    display: flex;

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
                .dropdown-menu {
                    min-width: 6rem;
                    padding-top: 1rem;
                    margin-top: 1rem;
                    background-color: transparent;
                    border-radius: 0rem;
                    border: none;
                    li {
                        margin-right: 0rem !important;
                        &:hover {
                            a {
                                color: var(--color-black) !important;
                            }
                        }
                        a {
                            transition: 0.3s all;
                            font-size: 1rem !important;
                            color: var(--color-black);
                            img {
                                max-width: 1.7rem;
                                object-fit: contain;
                            }
                        }
                    }
                }
                img {
                    max-width: 2rem;
                    margin-left: 0.5rem;
                }
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.5rem;
                        a {
                            border: none !important;
                            &:hover {
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
            .menu-area {
                display: flex;
                padding-left: 0rem;
                @include breakpoint(xl) {
                    flex-direction: column;
                    justify-content: flex-start !important;
                    align-items: flex-start !important;
                    padding-left: 3rem !important;
                }
                @include breakpoint(sm) {
                    padding-left: 2rem !important;
                }
            }

            @include breakpoint(xl) {
                padding-top: 2rem;
                flex-direction: column;
                position: fixed;
                height: 100vh;
                width: 100%;
                background-color: var(--color-white);
                z-index: 99999999;
                bottom: 0;
                left: -100rem;
                top: 5.3rem !important;
                text-align: left;
                justify-content: flex-start !important;
                align-items: flex-start !important;
                transition: 0.3s all;
                &.active {
                    left: 0;
                }
                @include breakpoint(lg)
                {
                    top: 5rem!important;
                }
            }

            li {
                margin-right: 2rem;
                @include breakpoint(xl) {
                    margin-bottom: 2rem;
                }
                @include breakpoint(lg) {
                    margin-bottom: 1rem;
                }
                &:last-child {
                    margin-right: 0rem;
                }
                &:hover {
                    .dropdown-menu {
                        display: block !important;
                    }
                }
                .dropdown-menu {
                    display: none !important;
                    &.show {
                        display: block !important;
                    }
                    min-width: 15rem !important;
                    border-radius: 0 !important;
                    @include breakpoint(xl) {
                        position: relative !important;
                        border: none !important;
                        transform: none !important;
                        padding-left: 0rem !important;
                    }
                    @media screen and (min-width: 1200px) {
                        padding: 1rem 0.5rem;
                    }

                    .dropdown-item {
                        color: var(--color-gray);
                        font-size: 1rem;
                        font-weight: 400;
                        &:hover,
                        &.active {
                            background-color: transparent !important;
                            color: var(--color-red);
                        }
                    }
                }
                .nav-link {
                    color: var(--color-black);
                    font-weight: 600;
                    font-size: 1.2rem;
                    transition: 0.3s all;
                    position: relative;
                    cursor: pointer;
                    &:hover {
                        color: var(--color-purple);
                    }
                    @media screen and (min-width: 1440px) {
                        font-size: 1.2rem;
                    }
                    @media screen and (min-width: 1200px) {
                        padding: 2.3rem 0rem;
                    }
                    @include breakpoint(xl) {
                        font-size: 1.1rem;
                    }

                    &.active {
                        &::before {
                            width: 100%;
                        }
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                    &::before {
                        content: "";
                        width: 0%;
                        height: 0.11rem;
                        background-color: var(--color-red);
                        position: absolute;
                        bottom: 2rem;
                        left: 0;
                        transition: 0.3s all;

                        @include breakpoint(xl) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .lang-area {
        margin-left: 1rem;
        a {
            color: var(--color-black);
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            border: none;
        }
        .btn {
            color: var(--color-black);
            font-size: 1.1rem !important;
            font-weight: 500;
            display: flex;
            border: none;

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        .dropdown-menu {
            min-width: 6rem;
            padding-top: 1rem;
            margin-top: 1rem;
            background-color: var(--color-white);
            border-radius: 0rem;
            li {
                &:hover {
                    a {
                        color: var(--color-purple) !important;
                    }
                }
                a {
                    transition: 0.3s all;
                    font-size: 1rem !important;
                    color: var(--color-black);
                    img {
                        max-width: 1.7rem;
                        object-fit: contain;
                    }
                }
            }
        }
        img {
            max-width: 2rem;
            margin-left: 0.5rem;
        }
        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0.5rem;
                a {
                    border: none !important;
                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}
