@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.news {
    position: relative;
    background-color: var(--color-bg-gray);
    padding: 8rem 0rem;
    overflow: hidden !important;
    @include breakpoint(lg) {
        padding: 4rem 1rem;
    }
    .title-area {
        margin-bottom: 5rem;
        @include breakpoint(lg) {
            margin-bottom: 3rem;
        }
        .title {
            margin-bottom: 2rem;
            font-weight: 500;
            position: relative;
            display: inline-block;
            &::before {
                content: "";
                position: absolute;
                bottom: -0.9rem;
                width: 43%;
                height: 0.2rem;
                background-color: var(--color-purple);
            }
        }
        p {
            max-width: 40rem;
            color: var(--color-black);
            font-size: 1rem;
            font-weight: 300;
        }
    }

    /*    .swiper {
        overflow: unset !important;
        clip-path: inset(-100vw -100vw -100vw 0);
    } */
    .swiper {
        .swiper-slide {
            position: relative;
           

            &:hover {
                .body {
                    h6 {
                        color: var(--color-purple);
                    }
                }
                img {
                    transform: scale3d(1.2, 1.2, 1);
                }
            }
            .img-wrapper{
                overflow: hidden;
            }
            img {
                height: 26rem;
                width: 100%;
                object-fit: cover;
                transition: 0.3s all;
                @media screen and (max-width:1440px) {
                    height: 22rem;
                }
                @include breakpoint (xl) {
                    height: 17rem;
                }
                @include breakpoint (sm) {
                    height: 15rem;
                }
            }

            .body {
                padding: 2rem;
                background-color: var(--color-white);
                height: 15rem;
                .date {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 30px 24px 25px;
                    background-color: var(--color-purple);
                    @include breakpoint(lg){
                        padding: 30px 18px 19px;
                    }
                    span {
                        &:first-child {
                            font-weight: 300 !important;
                        }
                        font-size: 1.3rem;
                        font-weight: 500;
                        text-align: center;
                        color: #fff;
                        margin-bottom: 0rem;
                        @include breakpoint(lg){
                            font-size: 1.1rem;
                        }
                    }
                }
                h6 {
                    color: var(--color-black);
                    font-weight: 500;
                    font-size: 1.5rem;
                    transition: 0.3s all;
                    @include breakpoint(xl){
                        font-size: 1.2rem;
                    }
                    @include breakpoint(lg){
                        font-size: 1rem;
                    }
                }
                span {
                    color: var(--color-purple);
                    font-size: 0.9rem;
                    margin-bottom: 1rem;
                    display: block;
                    
                }
                p {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    color: var(--color-black);
                    font-size: 0.9rem;
                    font-weight: 300;
                    @include breakpoint(lg){
                        font-size: 0.8rem;
                    }
                }
                .btn {
                    padding-left: 0rem;
                    color: var(--color-purple);
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    border: none !important;
                    &:hover {
                        svg {
                            margin-left: 1rem;
                        }
                    }
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                    svg {
                        display: block;
                        margin-left: 0.6rem;
                        transition: 0.3s all;
                    }
                }
            }
        }
    }
}
